body {
  background: url("./assets/images/common/office.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}
/* GA helper classes */
.border-temp {
  border: solid lightgreen 2px;
}
.bg-red {
  background: crimson;
}
/* GA helper classes */
